<form action="/login">
    <div>
        <input placeholder="Username" type="text" id="username" name="username"></input>
        <input placeholder="Password" type="password" id="password" name="password"></input>
        <input type="submit" value="Login"></input>
    </div>
    <div>
        <input type="checkbox" id="remember" name="remember" <%=@isChecked%>>Check to log in automatically in the future.</input>
    </div>
</form>